.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6rem 0 6rem;
  min-height: 100vh;
}

.wrapper {
  width: 90vw;
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoWrapper {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 300ms ease-in-out forwards;
}

.description {
  margin: 0 0 2rem 0;
}

.daysWrapper {
  display: flex;
}

.day {
  padding: 0 1rem 0 0;
  text-align: left;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
