.wrapper {
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.typeWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeWrapper h2 {
  margin: 1rem 0 0 0;
  font-weight: 800;
  font-size: 35px;
}

.categoryWrapper {
  padding: 0 1rem 0 1rem;
  margin: 1rem 0 0 0;
  width: 50%;
  min-height: 12rem;
}

.typeWrapper .categoryWrapper {
  width: 100%;
}

.categoryWrapper h3 {
  margin: 0 0 1rem 0;
  font-size: 30px;
  font-weight: 400;
}

.itemWrapper,
.itemWrapperFullWidth {
  margin: 0.5rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.itemWrapper {
  width: 100%;
}

.itemWrapperFullWidth {
  width: 100%;
}

.itemWrapper h4,
.itemWrapperFullWidth h4 {
  font-size: 24px;
  font-weight: 300;
}

.itemWrapper .text {
  width: 90%;
}

.itemWrapper .textCentered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemWrapper .price {
  margin: 0 0 0 2rem;
}

.itemWrapper .subtitle {
  width: 80%;
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    min-height: 32rem;
    justify-content: flex-start;
    flex-direction: column;
  }
  .typeWrapper {
    width: 100%;
  }
  .categoryWrapper {
    margin: 1rem 0 2rem 0;
    padding: 0;
    width: 100%;
  }
}
